body {
    margin: 0px;
    align: center;
}

#title, #cardText {
    color: #FFFFFF;
}

#toolbarButton {
    color: #FFFFFF;
}

#topCard {
   margin-top: 80px;
}

#breakSpace {
   margin-top: 20px;
}

#footer h5 {
    line-height: 40%;
}

h1 {
   font-size: 3em;
}

h2 {
    font-size: 3em;
}

br {
    display: block;
    content: " ";
    margin: 30;
}

md-toolbar {
    position: fixed;
    top: 0%;
    left: 0%;
}

md-card-image {
    width: 100%;
    height: 100%;
}

md-grid-list {
  margin: 20px;
}

#fadein {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

#fadetext {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#gridsubheading h3 {
    font-size: 1.5em;
}

.image {
   position: relative;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

md-grid-tile-footer {
    padding: 20px;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: 20px;
}

container {
    margin: 0px;
}

md-card {
    padding: 5px;
    margin: 20px;
}

infoCard {
    text-align: left;
    align: left;
}

md-divider[md-inset] {
    margin-left: 80px;
    margin-right: 80px;
}

h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
}